<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    
    <link rel= "icon" type= "image/png" href= "{{ url_for('static',filename='images/icons/favicon.ico') }}">
<!--===============================================================================================-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
   
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
    
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/vendor/select2/select2.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/util.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<!-- {{ form.autocomp2.label }}: {{ form.autocomp2 }}
{{ form.autocomp.label }}: {{ form.autocomp }} -->
<form>
    <fieldset>
       <legend>Select State and City</legend>
       <p>
          <label>Select State</label>
          <select id = "stateList">
           
          </select>
          <label>Select City</label>
          <select id = "cityList">
           
          </select>
       </p>
    </fieldset>
 </form>
<br/><br/>
<hr/>
<!-- <img id='locMap' src='https://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=14&size=400x400&key=AIzaSyDYnBx8lUCLmIeOp7lF4Q1vv32tfUH-S44'/>
<hr/> -->
<div class="table100 ver1 m-b-110">
    <div class="table100-head">
        <table>
            <thead>
                <tr class="row100 head">
                    <th class="cell100 column1">Laboratory Name</th>
                    <th class="cell100 column2">City</th>
                    <th class="cell100 column3">State</th>
                    <!-- <th class="cell100 column4">Map</th> -->
                </tr>
            </thead>
        </table>
    </div>
    <div class="table100-body js-pscroll">
        <table id="records_table">
            
        </table>
    </div>
</div>
<script>
    $(function() {
        $( "#autocity" ).focusout(function(event,data) {
            console.log($("#autocity").val())
            city = $("#autocity").val();
            if(city){
                populateCityData(city)
            }
        });
        $( "#stateList" ).focusout(function(event,data) {
            console.log($("#stateList").val())
            st = $("#stateList").val();
            if(st){
                handleCity(st)
            }
        });
        // $("#stateList").autocomplete({  
        //     change: function(event, ui) {
        //         if(ui.item)
        //             handleCity(ui.item.label);
        //     },
        //     select: function(event, ui) {
        //         if(ui.item)
        //             handleCity(ui.item.label);
        //     }
        // });
        function disableClick() {
            $("a").click(function(e) {
            
            e.stopImmediatePropagation();
        
            console.log("a clicked");
            // $( "<div>" )
            //     .append( "default " + event.type + " prevented" )
            //     .appendTo( "#log" );
            return false;
            });
        }
      
        function showMap(address) {
            console.log(address);
            $("#locMap").src = address;
        }

        function populateCityData(city) {
            console.log(city);
            data = JSON.stringify({'state': null, 'city': city})
    
            if(city){
                $.ajax({
                dataType: 'json',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/getlist",
                data: data,
                success: function (response) {
                    // console.log(response.results)
                    var trHTML = '';
                    $('#records_table tr').remove()
                    $.each(response, function (i, item) {
                        // trHTML += "<thead><td>Laboratory Name</td><td>City</td><td>State</td></thead>";
                        $.each(item,function (i, row){
                            address = row["Laboratory Name"]+","+row["City"]+","+row["State"]
                           
                            google = encodeURI('https://maps.googleapis.com/maps/api/staticmap?center="'+address+'"&zoom=14&size=400x400&key=AIzaSyDYnBx8lUCLmIeOp7lF4Q1vv32tfUH-S44');
                            console.log(google)
                            
                            trHTML += '<tr class="row100 body"><td class="cell100 column1">' + row["Laboratory Name"] + '</td><td class="cell100 column2">' + row["City"] + '</td><td class="cell100 column3">' + row["State"]+ '</td>';
                            // trHTML +="<td class='cell100 column1'><a href='"+google+"' onclick='disableClick()' >Directions</a></td>"
                            trHTML +="</tr>";
                        });
                        
                        
                    });
                    $('#records_table').append(trHTML);
                }
                
                });
            }
            
        }

        $(document).ready(function(){
            disableClick();
        });

        function handleCity(params) {
            // console.log(params.item.label);
            if(params){
                $.ajax({
                url: '/getcityfromstate?state='+params
                }).done(function (data) {
                    // console.log(data)
                    $('#cityList').empty()
                    populateCitySelect(data.results);
                });
            }
            
        }
        $.ajax({
            url: '/getcity?city=ALL'
            }).done(function (data) {
                // console.log(data)
                populateCitySelect(data.results);
            });
        
        

        function populateStateSelect(items) {
            $.each(items, function (i, item) {
            console.log(item)
            $('#stateList').append($('<option>', { 
                value: item,
                text : item
                }));
            });
        }

        $( "#cityList" ).change(function() {
            city = $("#cityList").val();
            if(city){
                populateCityData(city)
            }
        });

        $( "#stateList" ).change(function() {
            console.log($("#stateList").val())
            st = $("#stateList").val();
            if(st){
                handleCity(st)
            }
        });

        function populateCitySelect(items) {
            $.each(items, function (i, item) {
            // console.log(item)
            $('#cityList').append($('<option>', { 
                value: item,
                text : item
                }));
            });
        }

        $.ajax({
        url: '/getstate?state=ALL'
        }).done(function (data) {
            console.log(data)
            
            populateStateSelect(data.results);
        });

        $.curCSS = function (element, attrib, val) {
            $(element).css(attrib, val);
        };
        });
</script>